/**
{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:none;
}*/
body
{
    width:100%;
    min-width:1024px;
    height:auto;
    background-color:#FFFFFF;
}
header
{
    width:100%;
    height:180px;
    background-color:#1e2021;
}
#headSec
{
    width:1024px;
    margin:0 auto;
    padding-top:1%;
}
#headSecTop
{
    margin-bottom:10px;
    height:auto;
    height:88px;
}
#headSecBot
{
    clear:both;
    margin-bottom:10px;
    padding-top:20px;
}
#loginSec
{
    float:right;
    padding-bottom:10px;
}
#loginSec nav a
{
    color:#FFF;
    padding:10px;
}
#loginSec nav a:hover
{
    background-color:#FFF;
    color:#000;
}
#logoSec
{
    clear:both;
    float:left;
    overflow:hidden;
    padding-left:10px;
}
#adsSec
{
    float:right;
}
#navBar
{
    float:left;
}
#navBar nav a
{
    color:#FFF;
    padding:10px;
    font-size:.9em;
}
#navBar nav a:hover
{
    color:#0076ff;
}
#search-formMe
{
    float:right;
}
.search-formMe{
	display: inline-block;
	background: #4d4d4d;
	border-bottom: 1px solid #333;
	padding-right: 5px;
	margin-top: -5px;
}
#searchformMe input[type=search] {
	line-height: 14px;
	float: left;
	padding: 6px 7px 5px;
	font-size: 11px;
	color: #939393;
	border: none;
	background: none;
	width: 175px;
}
#searchformMe input[type=submit] {
	float: left;
	margin: 6px 0 0 4px;
	background: url(../images/toolbar_find.png) 0 0 no-repeat;
	width: 15px;
	height: 15px;
	border: none;
	padding: 0;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}