*{
	list-style:none;
	margin:0;
	padding:0;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}
#page{
	width:100% !important;
}
#top-login{
	background-color:#010c16;
	display:block;
	height:30px;
}
#inner-top-login{
	width:1024px;
	margin:0 auto;
}
#login{
	float:right;
}
#login-links{
	overflow:hidden;
	margin:0;
}
#login-links li{
	float:left;
	border-left: 1px solid #404040;
	list-style: none;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	padding: 8px 8px 8px 7px;
}
#login-links li a{
	color:#e0e0e0;
}
#top-search{
	background: #f7f7f7;
	border-bottom: 1px solid #fff;
}
#inner-top-search{
	padding: 10px 0 30px;
	border-bottom: 1px solid #e6e6e6;
}
#wrap-inner-top-search{
	width:1024px;
	margin:0 auto;
}
#social-media{
	float:right;
	padding-top: 4px;
	width:117px;
}
.social-media-label{
	float: left;
	margin-right: 0px;
	color: #a1a1a1;
	font-size: 9px;
	line-height: 12px;
	text-transform: uppercase;
	padding-top: 3px;
}
#social-media ul{
	float:left;
	margin:0;
	width:54px
}
#social-media ul li{
	width:10px;
	float:right;
	padding: 0px 4px;
}
/*#search-form{
	float:left;
}
.search-form{
	display: inline-block;
	background: #fcfcfc;
	border: 1px solid #dedede;
	padding-right: 5px;
	margin-top: -2px;
}
#searchform input[type=search] {
	line-height: 14px;
	float: left;
	padding: 6px 7px 5px;
	font-size: 11px;
	color: #939393;
	border: none;
	background: none;
	width: 175px;
}
#searchform input[type=submit] {
	float: left;
	margin: 6px 0 0 4px;
	background: url(../images/toolbar_find.png) 0 0 no-repeat;
	width: 15px;
	height: 15px;
	border: none;
	padding: 0;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}*/
#slide-wrap {
    margin:0 auto;
    width:1024px;
    position: relative;
}
#slide {
    margin-top: 0px;
    border-top: 3px solid #e8e8e8;
}
.cycle-overlay { 
    font-family: tahoma, arial;
    position: absolute; bottom: 0; 
    width: 97%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}
#bar-wrap {
    width: 100%;
    float: left;
    background: #ddd;
}
#bar {
    width: 1024px;
    height: 40px;
    margin: 0 auto;
}
#bar > span {
    float: left;
    padding: 13px 10px;
    background: red;
    color: white;
    text-shadow: 1px 1px 4px black;
    text-transform: uppercase;
    font-size: 12px;
    height: 14px;
}
.highlight {
    float: left;
    width: 85%;
    height: 39px;
}
#bar > .cycle-slideshow {
    float: left;
    margin-top: 12px;
    margin-left: 10px;
    font-size: 12px;
    width: 84%;
}
#bar > .cycle-slideshow > a {
    
    color:black !important;
}
#prev2 {
    float: left;
    width: 20px;
    height: 20px;
    background: red;
    margin-top: 9px;
}
#next2 {
    float: left;  width: 20px;  height: 20px;  background: red;  margin-top: 9px;
    margin-left: 10px;
}
#footer {
	border-top: 3px solid #e8e8e8;
	background: #010c16;
	float: left;
	width: 100%;
}
#footer-section1{
	border-top: 3px solid #0a0c0e;
	background: #1e2021;
	color: #b0b0b0;
	height: 250px;
	width: 100%;
}
#footer-wrapper-up{
	width:1024px;
	margin:0 auto;
}
#footer-section2{
	padding: 10px 0px;
	width: 1024px;
	margin: 0 auto;
}
#footer-wrapper-down{
	width:1024px;
	margin:0 auto;
}
#footer-wrapper-down p{
	color:#e0e0e0;
	font-size:11px;
}
#wrap-top-logo-area{
	width:1024px;
	margin:0 auto;
	height: 100px;
	padding: 10px 0px;
}
#logo{
	float: left;
	overflow: hidden;
	width: 260px;
	height: 100px;
}
#logo h1{
	float:left;
	margin: -10px 0px;
}
#logo h4{
	float:left;
	margin-left: 5px;
}
#navigation-wrap{
	width:1024px;
	margin:0 auto;
	/* padding:20px 0px; */
	border:thin black solid;
	height: 40px;
}
nav{
	padding:0px;
	float: left;
}
nav ul{
	width:1024px;
	/* margin-top: -9px; */
	/* margin-left:5px; */
	position:relative;
	height: 40px;
}
nav ul li{
	float:left;
	height: 40px;
	border-right:thin black solid;
}
nav ul li:hover{
	background:gray;
}
nav ul li:hover a{
	color:white;
}
nav ul li a{
	font-size:14px;
	font-weight:bold;
	color:black;
	float: left;
	padding: 13px 20px;
}
#main{
	width:1024px;
	margin:0 auto;
	clear:both;
	padding-bottom:10px;
    
	min-height: 600px;
}
#primary-content{
	width: 740px;
	float:left;
	min-height: 610px;
	background: #f3f3f3;
	box-shadow: 2px 0 4px -3px black;
}
#secundary-content{
	width: 270px;
	float: left;
    margin-right:6px;
	min-height: 932px;
}



#prev1 {
    position: absolute;
    z-index: 200;
    background: red;
    width: 50px;
    top: 50%;
    height: 50px;
    left: 0;
}
#next1 {
    position: absolute;
    background: red;
    width: 50px;
    height: 50px;
    z-index: 220;
    right: 0;
    top: 50%;
}




.cycle-pager {
    position: absolute;
    z-index: 200;
    bottom: 0;
    right: 1%;
    top: -10px;
}

.cycle-pager span {
    font-family: arial;  font-size: 50px;  width: 16px;  height: 16px;  display: inline-block;  color: #ddd;  cursor: pointer;
}
.cycle-pager-active {
    
    color: red !important;
    
}
#general-content {
    width: 100%;
    float: left;
    background: #e7e7e7;
    min-height: 610px;
    box-shadow: 1px 2px 22px -13px black;
    /* border-right: 1px solid black; */
}
#news-content {
    float: left;
    width: 100%;
    min-height: 610px;
    padding-left: 10px;
    margin-top: 10px;
}
.new {
    float: left;
    width: 725px;
    margin-bottom: 17px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 17px;
}
.news-title {
    float: left;
    margin-left: 13px;
    width: 55%;
    font-size: 18px;
}
.imgNew {
    float: left;
    background: white;
    padding: 4px;
    box-shadow: 0 0 9px -3px black;
}
.news-date {
    float: left;
    margin-left: 13px;
    font-size: 12px;
    width: 55%;
    color: gray;
    margin-bottom: 8px;
}
.new-description {
    float: left;
    width: 55%;
    margin-left: 13px;
    font-size: 14px;
}
.readMore {
    float: right;
    font-size: 12px;
    width: 72px;
    margin-top: 5px;
}

#lastest-news{
    width: 342px;
    min-height: 400px;
    margin-top: 11px;
    padding-left: 8px;
}
    
.most-voted{
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.most-voted h3{
    position: relative;   
    width: 95%;   
    font-size: 1.0em;   font-weight: bold;   
    padding: 6px 20px 6px 17px;   
    margin: 5px 10px 10px 1px;   
    color: rgb(154,202,255);   
    background-color: rgb(0,44,90);   
    /* text-shadow: 0px 1px 2px #bbb; */   -webkit-box-shadow: 0px 2px 4px #888;   -moz-box-shadow: 0px 2px 4px #888;   box-shadow: 0px 2px 4px #888;
}
.most-voted h3:after {
    content: ' ';   position: absolute;   width: 0;   height: 0;   
    right: 0px;   top: 100%;   
    border-width: 11px 19px 0 0;   border-style: solid;   
    border-color: rgb(0,63,90) transparent transparent transparent;
}

.social-networks{
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.social-networks h3{
    position: relative;   
    width: 95%;   
    font-size: 1.0em;   font-weight: bold;   
    padding: 6px 20px 6px 17px;   
    margin: 5px 10px 10px 1px;   
    color: rgb(154,202,255);   
    background-color: rgb(0,44,90);   
    /* text-shadow: 0px 1px 2px #bbb; */   -webkit-box-shadow: 0px 2px 4px #888;   -moz-box-shadow: 0px 2px 4px #888;   box-shadow: 0px 2px 4px #888;
}
.social-networks h3:after {
    content: ' ';   position: absolute;   width: 0;   height: 0;   
    right: 0px;   top: 100%;   
    border-width: 11px 19px 0 0;   border-style: solid;   
    border-color: rgb(0,63,90) transparent transparent transparent;
}



.news-title-aside {
    float: left;
    margin-left: 9px;
    width: 49%;
    font-size: 13px;
}
    
.news-date-aside {
    float: left;
    margin-left: 9px;
    font-size: 11px;
    width: 45%;
    color: gray;
    margin-bottom: 8px;
}


.readMore-aside {
    float: left;
    font-size: 11px;
    width: 72px;
    margin-top: 0px;
    margin-left: 9px;
}

.most-popular {
    float: left;
    width: 97%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 6px;
}

#poll {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
#poll > img {
    float: left;
    width: 232px;
    margin-left: 21px;
}
#news-letter{
	float:left;
	width:100%;
	margin-bottom:10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	height: 40px;
}
#news-letter input{
	margin: 0px 0px 0px 27px;	
	height: 22px;
	float: left;
}

#aside-banner {
   width: 100%;
   float: left;
   margin-bottom:10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;

   text-align: center;
}
#aside-banner img{
	margin-left: 24px;
}

#banner{
	float:right;
	margin-right:30px;
}
#secundary-content aside {
    float: left;
    width: 100%;
}

.btn-submit {
    float: right;
    padding: 3px 5px;
    border: 0;
    background: red;
    color: white;
}







